.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.gradient-background {
  background: linear-gradient(300deg, #ef8172,#00bfff,#ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

.player1 {
  font-size: 2rem;
  color: #cc4e4e;
  font-family: 'Indie Flower', cursive;
}

.player2 {
  font-size: 2rem;
  color: #c14ecc;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


